*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}


p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;

}

.logo{
    color: #111;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span{
    color: #fd911f ;
}
.delice{
    color: #111;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

.delice span{
    color: #fd911f;
}

.navbar{
    display: flex;
    position: relative;  
}

.navbar li{
    list-style: none;   
}
.navbar a{
    color: #111; 
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;

}
.btn-reserve{
    padding: 10px 20px;
    background: #fd911f;
    margin-top: -10px;
    text-transform: uppercase;  
}

.btn-reserve:hover{
    background: #d87718;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fd911f;
    border-bottom: 2px solid #fd911f ;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(riz_blanc.avif);
    background-size: cover;
}
.banniere p{
    color: #fff;
}

.banniere .contenu{
    max-width: 70%;
    text-align: center;
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}
.contenu p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}
.btn-1{
    font-size: 1em;
    color: #fff;
    background: #fd911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}


.btn-2{
    font-size: 1em;
    color: #fff;
    background: #2a4963;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn-1:hover{
    letter-spacing: 4px;
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;  
}
.row .col50{
    position:relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2{
    margin-bottom: 20px; 
}
.titre-text{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}

.titre-text span{
    color: #fd911f;
    font-size: 1.5em;
    font-weight: 700px;
}
.row .col50 img{
    height: 450px;
    width: 600px;
    position: relative;
}

.titre{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.menu{
     margin-top: -60px; 
}
.panne{
    margin-top: -100px; 

}

.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 40px;
}

.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 20px solid #fff;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.8);
}

.menu .contenu .box .imbox{
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .contenu .box .imbox img{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.menu .contenu .box .text{
    text-align: center;
    font-weight: 300px;
    color: #111;

}

.menu .contenu .box .text h3{
    font-weight: 400;
}

.Expert{
    margin-top: -100px;
}

.Expert .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.Expert .contenu .box{
    width: 250px;
    margin: 15px;
}

.Expert .contenu .imbox img{
    position: relative;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.Expert .contenu .box h3{
    color: #111;
    font-weight: 300;
    text-align: center;
}
.Temoignage{
    background-image: url(rose.avif);
    background-size: cover;

}

.Temoignage .contenu{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.Temoignage .contenu .box{
    width: 340px;
    margin: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 40px ;
}
.Video{
    margin-left: 20%;
}
.deguster span{
    color: #fd911f;
}

.deguster{
    color: #111;
    font-weight: bold;
    font-size: 5em;
    text-decoration: none;
    text-align: center;
    font-style: oblique;
    font-size: xx-large;
    margin-top: -10%;
}
.Ma{
    text-align: center;
    font-style: italic;
    font-size: x-large;
}

.Temoignage .contenu .box .imbox{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.Temoignage .contenu .box .imbox img{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.Temoignage .contenu .box .text{
    text-align: center;
    color: #666;
    font-style: italic;
}

.Temoignage .contenu .box .text h3{
    color: #fd911f;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;

}
.blanc .titre-text{
    /* color: #fff; */
}
.blanc .titre-text
.blanc p{
    color: #fff;
}

.contact{
    background-image: url(rose.avif);
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.8);
    width: 100%;
    background-position: unset;
}

.contactform{
    padding: 75px 50px;
    background: #fff;
    box-shadow: 5px 15px 50px rgba(0,0,0,0.8);
    max-width: 500px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}
.contactform .inputboite{
    position: relative;
    width: 100%; 
    margin-bottom: 20px;
}


.contactform h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.contactform .inputboite input,
.contactform .inputboite textarea{
    width: 100%; 
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
  }
  .contactform .inputboite input[type="Submit"]{
    font-size: 1em;
    font-weight: 700; 
    color: #fff;
    background: #fd911f;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    outline: none;
    border: none;
    transition: 0.5s;
    max-width: 120px;
    align-items: center;
    justify-content: center;
  }
.copinright{
    padding: 20px 40px;
    border-top: 2px solid rgba(0,0,0,0.1);
    background: rgba(228,222,228,);
    text-align:center ;
}

.copinright p:nth-child(1){
    color: #333;
}

.copinright a {
    color: #fd911f;
    text-decoration: none;
    font: weight 600px;
    font-style:italic ;
}

.contact .titre-text span{
    color: #fd911f;
    font-size: 2em;
}
header .sticky{
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}

.row{
    display: flex;
    box-sizing: border-box;
}
.footer{
    background: #291010;
    display: flex;
    padding: 40px 20px;
}
.Service{
    display: block;
    color: #111;
    margin-left: 50px;
    background: #5a1616;
}
 .Service p{
    color: #111;
    justify-content: space-between;
    margin-left: 20px;
 }  






































































































































































